<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2016 - Copyright with YelpDemo</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="/">YelpDemo</a></li>
        <li><a href="/pages/about">About us</a></li>
        <li><a href="/pages/contact">Contact us</a></li>
      </ul>
    </div>
  </div>
</div>
<style> 
 .copyright { min-height:40px; background-color:#0c1a1e;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
</style>